* {
    box-sizing: border-box;
}

body,
html {
    font-size: 14px;
}

li {
    list-style-type: none;
    margin: 0%;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}
/* header/intro first section with main nav logo and cart */

.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin: 10px;

}

.alohalogo {
    order: 1;
    width: 50%;

}

.alohalogo img,
.cart img {
    max-height: 45px;

}

.navmenu {
    border-top-color: #d7d7d7;
    border-top: 1px solid;
    margin-top: 10px;

}

.navmenu {
    order: 3;
    width: 100%;
}

.navmenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.navmenu a {
    font-family: 'Raleway', sans-serif;
    margin: 3%;
    color: red;
    font-size: 1.0rem;
    padding: 5px;
}

.cart {
    order: 2;
    width: 50%;
    justify-content: space-around;
    text-align: right;
}

a {
    text-decoration: none;

}

a:hover {
    color: #b64036;
}

button {
    background-color: #242424;
    border-radius: 30px;
    width: 100px;
    color: white;
}

/* section  2 , banner and banner texts containg seasons*/

.flowerbanner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(images/banner-girl.png), url(images/flower-bkgd.jpg);
    background-repeat: no-repeat;
    background-size: cover, contain, cover;
    background-position: center, center 90px, center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.collection {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.0rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.season {
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.7rem;

}

/* section 3 with style, company description and all images for categories uploaded */

.companystyle {
    text-align: center;
    height: 200px;
}

/* hand crafted items */
.style {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.7rem;
    height: 30px;
}

.companydescription {
    font-family: "Raleway", sans-serif;
    font-size: 1.0rem;
    font-weight: lighter;
    height: 50px;
    line-height: 1.8rem;
}

/* section 3 continues*/


.stylegallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    height: 50vw;
    width: 50%;
}

.picture:first-child,
.picture:last-child {
    width: 100%;
}


.mens {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/mens-category.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trends {

    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/trends-category.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.glasses {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/glasses-category.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.sale {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/sale-category.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.bags {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/bags-category.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.womens {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/womens-category.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}


.picture p {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    align-self: center;
}

h2{
    font-family: "PlayfairDisplay", serif;
    font-weight: lighter;

}

/*section 4 main carousel  */
.loveditems {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 1.7rem;
    color: #242424;

}


.carousel-cell {
    width: 100%;
    margin-right: 5px;
    text-align: center;
}


.product {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.5rem;
    color: #969696;
    line-height: 2.0rem;
    text-transform: uppercase;
}

.productcost {
    text-align: center;
    font-family: "Playfair Display", serif;
    color:#969696;
    font-size: 0.5rem;
    line-height: 1.8em;
    text-transform: uppercase;

}
button{
    display: none;
}

h3 {
    text-align: center;
    font-family: "Playfair Display", serif;
    color: #b64036;
    line-height: 1.7rem;
}


/*section 4 user interactive area, enter email and subscribe*/

.signuparea {
    background-image: url(images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
    height: 300px;
    margin-bottom: 10px;
}

.signup {
    font-family: "Playfair Display", serif;
    font-weight: lighter;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signuptext {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-wrap: wrap;
    font-weight: lighter;
    height: 50px;
    line-height: 1.8rem;
}
/* inputsection  */

.inputcontainer {
    width: 300px;
    margin: 0 auto;
    position: relative;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: white;
    background-color: white;
    border-radius: 30px;
}

input[type=submit] {
    width: 40%;
    padding: 9px;
    margin: 8px 1px;
    border: white;
    background-color: #e2574c;
    border-radius: 20px;
    position: absolute;
    top: 3px;
    right: 1px;
}



/* section 6 , footer area with contact info and social media  */
.footercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

/* social media  */

.medianame {
    display: none;
}


footer {
    background-color: #242424;
}

.socialmedia,
.contactinfo,
.email {
    color: white;
    text-align: center;
}

.address {
    color:#969696;
}

/*  media query for destkop and table -- breakpoints */

@media screen and (min-width: 600px) {

    .flowerbanner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
            url(images/banner-girl.png), url(images/flower-bkgd.jpg);
        background-repeat: no-repeat;
        background-size: cover, contain, cover;
        background-position: center, center, center;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /* nav menu  */
    .alohalogo {
        order: 1;
        width: 25%;

    }

    .navmenu {
        order: 2;
        width: 50%;
        border: none;

    }

    .cart {
        order: 3;
        width: 25%;
    }


    /* main carousel  */

    .carousel-cell {
        width: 25%;
        margin-right: 5px;
        text-align: center;
    }

    .product {
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-size: 0.5rem;
        color: #969696;
        line-height: 2.0rem;
        text-transform: uppercase;
    }

    .productcost {
        text-align: center;
        font-family: "Playfair Display", serif;
        color:#969696;
        font-size: 0.5rem;
        line-height: 1.8em;
        text-transform: uppercase;

    }


    /* styles gallery- all categories */


    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid white;
        height: 25vw;
        width: 25%;
    }

    .picture:first-child,
    .picture:last-child {
        width: 50%;
    }
        /* footer  */

        .footercontainer {
            width:100%;
            display: flex;
            flex-wrap:wrap;
    }
        .medianame {
            display:inline;
        }
        .contactinfo {
            text-align: left;
            padding: 20px;
        }
    .smicon, ul{
        font-family: "Raleway", sans-serif;}

}    @media screen and (min-width: 1240px){
    button {
        display: inline;
        background-color: #242424;
        padding: 7px;
        color: white;
        border-radius: 30px;
        font-family: "Raleway", sans-serif;
    }
    



}
